<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/footer.css">
<title>Muving Match</title>
</head>
<body>
  <div class="footer-line"></div>
<footer class="row" id="footer">
   <!-- Navbar Here -->
   <footer class="row" id="footer">
    <div class="col-1 col-md-1">
      <img src="../../static/images/MuvingMatchLogo.png" alt="footer logo" class="footer-logo">
    </div>
    <div class="col-3 col-md-3">
      <div class="footer-text">
        <h4>Company</h4>
        <p>About us</p>
        <p>Our Offerings</p>
      </div>
    </div>
    <div class="col-3 col-md-3">
      <div class="footer-text">
        <h4>For Customers</h4>
        <p>Contact Us</p>
        <p>FAQ</p>
      </div>
    </div>
    <div class="col-3 col-md-3">
      <div class="footer-text">
        <h4>Resources</h4>
        <p>About us</p>
        <p>Our Offerings</p>
        <p>Contact Us</p>
      </div>
    </div>
  </footer>
    
  <!-- End of Navbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>