<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="../../static/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<script type="module" src="../../static/js/main.js"></script>
<script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe0xfgGSVjP3RqECyZ_cR7M7C7pEzUz1s&callback=initMap&v=weekly"
          defer
        ></script>
<script>
      var zipcode = '{{ zipcode }}';
    </script>
<title>Muving Match</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
    
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'auth-success' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss = "alert", onclick="this.parentElement.style.display='none'">close</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!--Header Section-->
    <header class="row">
        <div class="col-23 col-md-6" id="header-text">
            <h2>Find your Muving Match Today!</h2>
            <h5>Hire the Person, not the Company</h5>
        </div>

    <!--Header Image-->  
    <div class="col-23 col-md-6">
    </div>
    </header>
    <!--End of Header -->

    <!-- Middle Section / Body -->
    <section class="row">
        <div class="col-12" id="middle-text">
          <h2>Find A Muver That's Right for You!</h2>
          <p>You can Post a Public bid or Find a Muver of your choosing!</p>
          <div class="d-flex justify-content-center align-items-center">
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary me-3" href="{{ url_for('site.home') }}">Find A Muver</a>
            <a class="btn btn-primary" href="{{ url_for('site.post_a_job') }}">Post A Job</a>
            {% else %}
            <a class="btn btn-primary me-3" href="{{ url_for('auth.signin') }}">Sign In</a>
            <a class="btn btn-primary" href="{{ url_for('auth.signup') }}">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </section>
    <!-- Google Map -->
        </div><div id="map"></div>
        <script>
            var latitude = "{{ latitude }}";
            var longitude = "{{ longitude }}";
            console.log(latitude, longitude);
          </script>
        
    
        <!-- 
          The `defer` attribute causes the callback to execute after the full HTML
          document has been parsed. For non-blocking uses, avoiding race conditions,
          and consistent behavior across browsers, consider loading using Promises
          with https://www.npmjs.com/package/@googlemaps/js-api-loader.
          -->
        

        <!--Muver List-->
        {% if current_user.is_authenticated and current_user.is_muver %}
        <!--Job List-->
        <h2 id="muver_list">Job List</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Address</th>
                    <th>Housing Type</th>
                    <th>Floor Number</th>
                    <th>Beds</th>
                    <th>Baths</th>
                </tr>
            </thead>
            <tbody>
            {% if muver_jobs %}
                {% for job in muver_jobs %}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.start_add }}</td>
                        <td>{{ job.start_housing_type }}</td>
                        <td>{{ job.start_floor_num }}</td>
                        <td>{{ job.start_beds }}</td>
                        <td>{{ job.start_baths }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">No jobs found.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% else %}
    <!--Muver List-->
    <h2 id="muver_list">Muver List</h2>
  {% if muvers %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Zipcode</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {% for muver in muvers %}
          <tr>
            <td>{{ muver.first_name }} {{ muver.last_name }}</td>
            <td>{{ muver.zip_code }}</td>
            <td>{{ muver.phone_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No muvers found.</p>
  {% endif %}
{% endif %}
    <!--Post a Job Form-->
    {% if current_user.is_authenticated %}
  {% if current_user.is_muver %}
  <!-- Muver Bid Form -->
  {% include 'job_bidding_form.html' %}
    

  {% else %}
    <!-- Post a Job Form -->
    <form class="form">
      <h2>Interested in Working with one of our Muvers?</h2>
      <h3>Fill out the form below to get started:</h3>
      {% include 'post_a_job_intro_form.html' %}
    </form>
  {% endif %}
{% endif %}
    <!-- End of Middle Section -->
    
    <!--Footer-->
    {% include 'footer.html' %}

        {% endblock content %}

        
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>